@model IEnumerable<Projeto_SCFII.Infrastructure.Application.DTO.Usuario.UsuarioDTO>

@{
    ViewData["Title"] = "Usuários";
}

<div class="container-fluid">

    <div class="card">

        <div class="card-header">
            Lista de Usuários
        </div>

        <div class="card-body">

            <div class="d-flex justify-content-start mb-4">
                <a href="@Url.Action("Create", "Usuario")" class="btn btn-primary btn">
                    Novo Usuário
                </a>
            </div>

            @if (Model != null && Model.Any())
            {
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th>Nome Completo</th>
                            <th>Email</th>
                            <th>Cargo</th>
                            <th>Departamento</th>
                            <th>Raça</th>
                            <th>Gênero</th>
                            <th>Status Usuário</th>
                            <th>Tipo Usuário</th>
                            <th>Data Criacao</th>

                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model)
                        {
                            <tr>
                                <td>@($"{usuario.NomeCompleto}")</td>
                                <td>@usuario.Email</td>
                                <td>@usuario.NomeCargo</td>
                                <td>@usuario.NomeDepartamento</td>
                                <td>@usuario.NomeRaca</td>
                                <td>@usuario.NomeGenero</td>
                                <td>@usuario.NomeStatusUsuario</td>
                                <td>@usuario.NomeTipoUsuario</td>
                                <td>@usuario.DataCriacao</td>

                                <td class="text-center actions">
                                    <a href="@Url.Action("Details", "Usuario", new { id = usuario.Id })"
                                       class="btn btn-sm btn-info"
                                       data-bs-toggle="tooltip"
                                       title="Detalhes">
                                        <i class="bi bi-clipboard-data"></i>
                                    </a>

                                    <a href="@Url.Action("Editar", "Usuario", new { id = usuario.Id })"
                                       class="btn btn-sm btn-warning"
                                       data-bs-toggle="tooltip"
                                       title="Editar">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>

                                    <form asp-action="Delete" asp-controller="Usuario" asp-route-id="@usuario.Id" method="post"
                                          class="d-inline"
                                          data-bs-toggle="tooltip"
                                          title="Excluir"
                                          onsubmit="return confirm('Confirma exclusão deste usuário?');">
                                        <button type="submit" class="btn btn-sm btn-danger" title="Excluir"><i class="bi bi-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info text-center mb-0">
                    Nenhum usuário cadastrado.
                </div>
            }
        </div>
    </div>
</div>
